a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote,
body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl,
dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4,
h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li,
mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small,
span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead,
time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

@font-face {
    font-family: 'Maax';
    src: url('Maax-Medium.woff2') format('woff2'),
        url('Maax-Medium.woff') format('woff');
    font-weight: 440;
    font-style: normal;
}

@font-face {
    font-family: 'Maax';
    src: url('Maax-Medium.woff2') format('woff2'),
        url('Maax-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background: #f7f3e7;
    font-family: 'Maax';
    text-transform: uppercase;
}

.wrapper {
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.nav {
    width: 100%;
    height: 50px;
    background-color: #384248;
    color: #f7f3e7;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-size: .75em;
    padding-top: 3px;
}

@media (max-width:600px) {
    .nav {
        font-size: .7rem
    }
}

.nav h1 {
    display: block
}

@media (max-width:600px) {
    .nav h1 {
        display: none
    }
}

.navWrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navList {
    display: -ms-flexbox;
    display: flex;
}

.navList li {
    margin: 0 10px
}

.navList a {
    color: #f7f3e7;
    text-decoration: none;
    transition: all 110ms ease-out;
}

.navList a:hover {
    color: #b99f69;
}

.navList a path {
    fill: #f7f3e7;
    transition: all 110ms ease-out;
}

.navList a:hover path {
    fill: #b99f69;
}

.header {
    position: relative;
    width: 100vw;
    min-height: 680px;
    height: calc(100vh - 50px);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width:600px) {
    .header {
        min-height: 610px
    }
}

.graphic {
    position: relative;
    top: -6vh;
    max-width: 80vh;
    width: 50vw;
    height: 50vh;
    max-height: 65vh;
    min-height: 371px;
    background: url(header_graphic.png) no-repeat center;
    background-size: contain;
}

@media (max-width:600px) {
    .graphic {
        width: 80vh;
        height: 45vh;
        min-height: 371px !important
    }
}

.headerTitle {
    color: #b99f69;
    font-size: 1.3em;
    letter-spacing: .6rem;
    text-align: center;
    line-height: 1.3;
    text-indent: .6rem;
    font-family: 'Maax';
}

@media (max-width:600px) {
    .headerTitle {
        font-size: .88em;
    }
}

.tour {
    padding: 50px 0;
    position: relative;
}

.navyTheme {
    background: #384248;
    color: #f7f3e7;
    position: relative;
}

.navyTheme .sectionTitle {
    color: #b99f69;
}

.sectionTitle {
    text-align: center;
    font-size: 1.2em;
    letter-spacing: .9em;
    text-indent: .9em;
    margin-bottom: 30px;
    font-family: 'Maax';
}

.event1 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
}

.event2 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event3 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event4 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event5 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event6 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event7 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event8 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event9 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.event10 {
  width: 940px;
  height: 65px;
  padding: 15px 0;
  position: relative;
}

.tourList {
  display: -ms-flexbox;
  display: flex;
}

.tourList li {
  margin: 0 40px;
  text-align: center;
  font-size: 1em;
  letter-spacing: .3em;
  text-indent: .6em;
  margin-bottom: 30px;
  font-family: 'Maax'
}

.photo-wrapper {
  position: relative;
  width: 100vw;
  min-height: 680px;
  height: calc(100vh);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: black;
}

#testo {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 388px;
  background: url(horizlogo.png) center;
  z-index: 2;
}

#photo1 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0px;
  background: url(fotouno.JPG) center no-repeat;
  z-index: 1;
  cursor: pointer;
}

#photo2 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0px;
  background: url(fotodue.JPG) center no-repeat;
  opacity: 0;
  cursor: pointer;
}

#photo3 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fototre.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo4 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0px;
  background: url(fotoquattro.JPG) center no-repeat;
  opacity: 0;
  cursor: pointer;
}

#photo5 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fotocinque.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo6 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fotosei.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo7 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0px;
  background: url(fotosette.JPG) center no-repeat;
  opacity: 0;
  cursor: pointer;
}

#photo8 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fotootto.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo9 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fotonove.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo10 {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0px;
  background: url(fotodieci.JPG) center no-repeat;
  opacity: 0;
  cursor: pointer;
}

#photo11 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fotoundici.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo12 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fotododici.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

#photo13 {
  position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0px;
    background: url(fototredici.JPG) center no-repeat;
    opacity: 0;
    cursor: pointer;
}

@keyframes scompare1 {
  from{opacity: 1;}
  to{opacity: 0;}
}
.scompare1 {
  animation: scompare1 0.01s forwards;
}

@keyframes appare2 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare2{
  animation: appare2 0.1s forwards;
}

@keyframes appare3 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare3{
  animation: appare3 0.1s forwards;
}

@keyframes appare4 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare4{
  animation: appare4 0.1s forwards;
}

@keyframes appare5 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare5{
  animation: appare5 0.1s forwards;
}

@keyframes appare6 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare6{
  animation: appare6 0.1s forwards;
}

@keyframes appare7 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare7{
  animation: appare7 0.1s forwards;
}

@keyframes appare8 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare8{
  animation: appare8 0.1s forwards;
}

@keyframes appare9 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare9{
  animation: appare9 0.1s forwards;
}

@keyframes appare10 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare10{
  animation: appare10 0.1s forwards;
}

@keyframes appare11 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare11{
  animation: appare11 0.1s forwards;
}

@keyframes appare12 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare12{
  animation: appare12 0.1s forwards;
}

@keyframes appare13 {
  from{opacity: 0;}
  to{opacity: 1;}
}
.appare13{
  animation: appare12 0.1s forwards;
}

@keyframes riscompare1 {
  from{opacity: 0;}
  to{opacity: 0;}
}
.riscompare1 {
  animation: riscompare1 0.01s forwards;
}

.merch .merchTheme {
  background: #384248;
  color: #384248;
  position: relative;
}

.merch {
  padding: 50px 0;
  position: relative;
}

.merchTheme .merchTitle {
  color: #b99f69;
}

.merchTitle {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .9em;
  text-indent: .9em;
  margin-bottom: 30px;
  font-family: 'Maax';
}

.merchline1 {
  position: relative;
  width: 1000px;
  height: 250px;
  padding: 15px 15px;
}

.merch1 {
  position: absolute;
  left: 0%;
  top: 0px;
  margin: 0px;
  height: 220px;
  width: 221px;
  background: url(merch1.png) center no-repeat;
  z-index: 1;
  border-style: solid;
  border-color: #384248;
  border-width: 2.5px;
  border-radius: 5px;
}

.merch2 {
  position: absolute;
  left: 25%;
  top: 0px;
  margin: 0px;
  height: 220px;
  width: 221px;
  background: url(merch2.png) center no-repeat;
  z-index: 1;
  border-style: solid;
  border-color: #384248;
  border-width: 2.5px;
  border-radius: 5px;
}

.merch3 {
  position: absolute;
  left: 50%;
  top: 0px;
  margin: 0px;
  height: 220px;
  width: 221px;
  background: url(merch3.png) center no-repeat;
  z-index: 1;
  border-style: solid;
  border-color: #384248;
  border-width: 2.5px;
  border-radius: 5px;
}

.merch4 {
  position: absolute;
  left: 75%;
  top: 0px;
  margin: 0px;
  height: 220px;
  width: 221px;
  background: url(merch1.png) center no-repeat;
  z-index: 1;
  border-style: solid;
  border-color: #384248;
  border-width: 2.5px;
  border-radius: 5px;
}

.chisiamo .chisiamoTheme {
  background-color: #384248;
  color: #f7f3e7;
  position: relative;
  z-index: 1;
}

.chisiamoTheme {
  background: #384248;
  color: #f7f3e7;
  position: relative;
}

.chisiamo {
  padding: 50px 0;
  position: relative;
}

.chisiamoTheme .chisiamoTitle {
  color: #b99f69;
}

.chisiamoTitle {
  text-align: center;
  font-size: 1.2em;
  letter-spacing: .9em;
  text-indent: .9em;
  margin-bottom: 30px;
  font-family: 'Maax';
}

.chisiamoText {
  width: 940px;
  height: 200px;
  padding: 15px 0;
}
